rabbit_login=...  # Замените на свой
rabbit_password=...  # Замените на свой

rabbit_host=localhost
rabbit_port=5672
queue_waiting_depart=queue_waiting_depart
queue_waiting_retry=queue_waiting_retry
exchange_incoming=exchange_incoming
exchange_sorter=exchange_sorter
exchange_retry=exchange_retry
default_message_ttl_ms=60000
max_retry_count=3
kill_signal=avada_kedavra
queue_convert_tasks=queue_convert_tasks
queue_progress_bar=queue_progress_bar
max_timeout=10
